<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "//www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="//www.w3.org/1999/xhtml" xml:lang="ko" lang="ko">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<!-- PG크로스브라우징필수내용 -->
	<meta http-equiv="Cache-Control" content="no-cache"/>
	<meta http-equiv="Expires" content="0"/>
	<meta http-equiv="Pragma" content="no-cache"/>
	<!-- // PG크로스브라우징필수내용 -->

	<title></title>


	<!--@import(/aboutbrand/setting.html)-->


</head>

<body>

<div class="dim-layer-wrap">
	<div class="dim-layer">
		<div class="dimBg"></div>
		<div id="layer2" class="pop-layer">
			<div class="pop-container">
				<div class="pop-conts">
					<div style="float:right;">
						<a href="#" class="btn-layerClose">Close</a>
					</div>
					<!--content //-->
					<iframe src="/" width="570" height="600" name="sns-inner" frameborder=”0″>
						<!--// content-->
				</div>
			</div>
		</div>
	</div>
</div>
<style>
	.dim-layer {
		display: none;
		position: fixed;
		_position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 100;
	}
</style>


<!--@import(/aboutbrand/top.html)-->

<!--@import(/aboutbrand/gnb.html)-->

<hr class="layout"/>

<div id="wrap">
	<div id="container">
		<div id="contents">
			<!--@contents-->
		</div>
		<hr class="layout"/>
	</div><!-- //container -->
	<hr class="layout"/>

	<div id="quick"></div>
</div><!-- //wrap -->
<hr class="layout"/>
<!--@import(/aboutbrand/footer.html)-->

<!-- 결제를 위한 필수 영역 -->
<div id="progressPaybar" style="display:none;">
	<div id="progressPaybarBackground" class="layerProgress"></div>
	<div id="progressPaybarView">
		<div class="box">
			<p class="graph">
				<span><img src="//img.echosting.cafe24.com/skin/base_ko_KR/layout/txt_progress.gif" alt="현재 결제가 진행중입니다."/></span>
				<span><img src="//img.echosting.cafe24.com/skin/base/layout/img_loading.gif" alt=""/></span>
			</p>
			<p class="txt">
				본 결제 창은 결제완료 후 자동으로 닫히며,결제 진행 중에 본 결제 창을 닫으시면<br/>
				주문이 되지 않으니 결제 완료 될 때 까지 닫지 마시기 바랍니다.
			</p>
		</div>
	</div>
</div>
<!-- //결제를 위한 필수 영역 -->

<div module="Layout_multishopShipping">
	<!--@css(/layout/basic/css/ec-base-layer.css)-->
	<!--@css(/css/module/layout/multishopShipping.css)-->
	<!--@js(/js/module/layout/multishopShipping.js)-->
	<div class="dimmed"></div>
	<div class="worldshipLayer ec-base-layer">
		<div class="header">
			<h3>WORLD SHIPPING</h3>
		</div>
		<div class="content">
			<p class="desc">PLEASE SELECT THE DESTINATION COUNTRY AND LANGUAGE :</p>
			<div class="select">
				<select module="Layout_multishopShippingCountrylist">
					<option value="{$country_code}" {$country_default_selected}>SHIPPING TO : {$country_name}</option>
					<option value="{$country_code}" {$country_default_selected}>SHIPPING TO : {$country_name}</option>
				</select>
			</div>
			<div class="select">
				<select module="Layout_multishopShippingLanguagelist">
					<option value="{$shop_domain}" {$shop_default_selected}>LANGUAGE : {$shop_language_name}</option>
					<option value="{$shop_domain}" {$shop_default_selected}>LANGUAGE : {$shop_language_name}</option>
				</select>
			</div>
		</div>
		<div class="ec-base-button">
			<a href="#none">
				<img src="//img.echosting.cafe24.com/skin/base_ko_KR/link/btn_go.gif" alt="GO"/>
			</a>
		</div>
		<a href="#none" class="close">
			<img src="//img.echosting.cafe24.com/skin/base/common/btn_close.gif" width="13" height="13" alt="close"/>
		</a>
	</div>
</div>

<div module="Layout_conversionPc">
	<!--@css(/css/module/layout/conversionpc.css)-->
	<a href="{$mobile_url}">모바일 화면보기</a>
</div>
<section class="modal modalWindow" id="popupOne">
	<section class="modalWrapper">
		<h2>#3 HE FOR SHE!<br>: 모든 여성들의 아름다운 권리를 위해 </h2>
		<h3>
			아름다움은 여성들만의 것일까요?<br>
			외모를 가꾸는 것만이 아름다움이 아니듯 쿠오카는<br>
			남성과 여성의 동등한 권리와 기회를 위해<br>
			모두의 아름다운 힘이 필요하다고 생각합니다.<br>
			여성과 남성은 각각 존재 자체로 아름다우며<br>
			서로 차별 받지 않을 권리가 있다는 것,<br>
			그리고 보다 동등한 기회를 통해 우리 사회는 더욱 건강해질 것을 믿는 당신이라면<br>
			양성 모두의 지지와 노력을 끌어내는 일에 당신도 공감할 것입니다.<br>
			쿠오카와 함께, 양성 모두의 아름다운 권리와 기회를 지지해주세요.<br>
		</h3>
		<p>#쿠오카 #heforshe #극신선사회공헌</p>
		<a href="https://www.heforshe.org/en" target="_blank" class="black-btn -mov " style="padding: 13px 30px;"
			 data-aos="fade"
			 data-aos-anchor-placement="top-bottom" data-aos-delay="100" data-aos-offset="100">He
																																																																																																													for
																																																																																																													She
																																																																																																													둘러보기<i class="xi-angle-right-thin"></i></a>
		<a href="#none" class="black-btn -mov closeBtn" style="padding: 13px 30px;" data-aos="fade"
			 data-aos-anchor-placement="top-bottom"
			 data-aos-delay="100" data-aos-offset="100">닫기</a>
	</section>
</section>
<section class="modal modalWindow" id="popupTwo">
	<section class="modalWrapper">
		<h2>[ 생명의 숲 ] 캠페인</h2>
		<h3>
			쿠오카는 무엇에서 시작됐을까요?<br>
			자연 유래성분에서 비롯된 쿠오카는 그만큼<br>
			자연이 우리에게 주는 아름다운 영향력을 깊이 고민해왔습니다.<br>
			피부에 닿는 작은 성분조차 유해성분 없는 것을 생각해<br>
			쿠오카를 선택한 당신이라면 우리를 둘러싼 환경이 얼마나 유해한지,<br>
			또 얼마나 자연이 소중한지 느끼실 것입니다.<br>
			1998년부터 시작된 ‘생명의 숲‘ 운동은 도시와 학교에 숲을 조성하고<br>
			숲을 체험하는 문화프로그램을 운영하는 비영리 환경단체입니다<br>
			지금, 쿠오카와 함께 당신의 아름다운 숲을 가꿔보세요<br>

		</h3>
		<p>#쿠오카 #생명의숲 #극신선사회공헌</p>
		<a href="https://forest.or.kr/" target="_blank" class="black-btn -mov " style="padding: 13px 30px;" data-aos="fade"
			 data-aos-anchor-placement="top-bottom" data-aos-delay="100" data-aos-offset="100">생명의
																																																																																																										숲
																																																																																																										둘러보기<i class="xi-angle-right-thin"></i></a>
		<a href="#none" class="black-btn -mov closeBtn" style="padding: 13px 30px;" data-aos="fade"
			 data-aos-anchor-placement="top-bottom"
			 data-aos-delay="100" data-aos-offset="100">닫기</a>
	</section>
</section>

<section class="modal modalWindow" id="popupThree">
	<section class="modalWrapper">
		<h2>[ 드림스타트 ] 캠페인</h2>
		<h3>
			미래는 어디서 올까요?<br>
			신선한 원료 하나하나가 훌륭한 효능을 내듯 쿠오카는<br>
			아이들의 작은 꿈에서 미래가 온다고 생각합니다.<br>
			어릴 적 꿈꾸던 것들이 건강한 성장과 도전의 자양분이라는 것을 경험한<br>
			당신이라면 지금 아이들의 꿈이 얼마나 멋진 가능성인지 알고 계실 것입니다.<br>
			2006년부터 시작된 ‘드림 스타트‘ 운동은 취약계층 아이들이 쉽게 접하지 못하는<br>
			스포츠 등의 활동을 지원하며 건강한 성장과 발달을 도모합니다.<br>
			늦기 전에, 쿠오카와 함께 아이들의 아름다운 미래를 응원해주세요.<br>
		</h3>
		<p>#쿠오카 #드림스타트 #극신선사회공헌</p>
		<a href="https://www.dreamstart.go.kr/" target="_blank" class="black-btn -mov " style="padding: 13px 30px;"
			 data-aos="fade"
			 data-aos-anchor-placement="top-bottom" data-aos-delay="100" data-aos-offset="100">드림스타트
																																																																																																														둘러보기<i class="xi-angle-right-thin"></i></a>
		<a href="#none" class="black-btn -mov closeBtn" style="padding: 13px 30px;" data-aos="fade"
			 data-aos-anchor-placement="top-bottom"
			 data-aos-delay="100" data-aos-offset="100">닫기</a>
	</section>

</section>

<section class="modal overlay"></div>

</body>
</html>